{{!-- set this up so it can be used by handlebars package --}}

{{!-- create a button somewhere here
so the user input can be sent to the database --}}

<div class="burgers-not-eaten">
    <h2>Burgers not eaten</h2>
    <ul>
    {{#each burgers}}
        {{#unless this.devoured}}
            <li>
                <p>BURGER NAME: {{this.burger_name}}</p>
            <button value={{this.id}} class="eat">Eat the Burger!</button>
        </li>
        {{/unless}}
    {{/each}}
</ul>

<div class="burgers-eaten">
    <h2>Burgers eaten</h1>
    <ul>
        {{#each burgers}}
            {{#if this.devoured}}
                <li>
                    <p>BURGER NAME: {{this.burger_name}}</p>
                </li>
                {{/if}}
        {{/each}}
    </ul>
</div>

<form action="/" method="POST">
    <textarea type="text" name="newBurger"></textarea>
    <button type="submit">Make burgers</button>
</form>

<script>
    $(".eat").on("click", grabBurgerData);

    function grabBurgerData() {
        var burgerId = this.value;

        var value = {
            id: burgerId
        }
        console.log(burgerId);

        $.post("/api", value)
        .then(function(data, status) {
            console.log(status);
        });
    }
</script>




